nav.navigation {
  margin-top: 50px;
}
nav.navigation .logo img {
  width: 80%;
}
ul.menu-nav-ul {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;

}
.logo-nav {
  display: none;
}
li div button {
  width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  color: var(--main-color) !important;
}

.nav-link:focus {
  color: rgb(221, 221, 221);
}

input.form-control.search-input {
  background: no-repeat;
  border: none;
  color: var(--white-color);
  padding-left: 20px;
}

.connect-wallet-btn span {
  margin-right: 10px;
}
button.search-btn {
  background: #3d287300;
  border: none;
  color: var(--white-color);
  width: 80px;
  height: 46px;
  transition: 0.3s;
}

form.search-form {
  background: #1e2b5a00;
  border-radius: 45px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
a.nav-link span{
  position: absolute;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  color:#262525;
}

.social-media-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media-links .social-link-item {
  transition: 0.4s;
}
.social-media-links .social-link-item:hover {
  transform: scale(1.1);
}
header.header {
  position: absolute;
  width: 100%;
  transition: 0.3s;
  z-index: 99;
}

.connect-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.header.navbar-fixed {
  background: #5022cee0;
  color: var(--second-color);
  padding: 15px 0;
  z-index: 99;
  backdrop-filter: blur(7px);
}

.search-input::placeholder {
  color: var(--white-color);
}

.dp-menu {
  position: absolute;
  width: 250px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 35px;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  background: var(--white-color);
}

a.dp-link {
  width: 100%;
  padding: 9px 37px;
  color: var(--second-color);
  transition: 0.3s;
  text-align: left;
  font-size: 20px;
  text-transform: capitalize;
}

a.dp-link:hover {
  background: var(--main-color);
  color: var(--white-color);
  z-index: 3;
}

li.nav-list:hover .dp-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.show-nav {
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
}

.show-nav:hover {
  color: var(--main-color);
}

.close-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 9px 0px #323232;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  /* color: var(--white-color); */
}

.l-none {
  display: none;
}
.nav-select-item {
  margin-right: 0 !important;
}
.nav-select-item .select-menu {
  color: #fff !important;
  padding: none !important;
  background: none !important;
  border: none !important;
  border-radius: 8px;
  position: relative;
}
.nav-select-item .select-menu .select-menu-inner {
  color: var(--white-color);
  font-size: 20px;
}
.header-search-box {
  width: 224px !important;
}
.dp-menu.active {
  display: block !important;
}
@media screen and (max-width: 1650px) {
  nav.navigation {
    grid-template-columns: 44% 45%;
  }
}
@media screen and (max-width: 1550px) {
  nav.navigation {
    grid-template-columns: 42% 40%;
    gap: 35px;
  }
}
@media screen and (max-width: 1450px) {
  nav.navigation {
    grid-template-columns: 40% 40%;
    gap: 35px;
  }
  li.nav-list {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 1300px) {
  nav.navigation {
    grid-template-columns: 35% 40%;
    gap: 35px;
  }
}
@media screen and (max-width: 1240px) {
  nav.navigation {
    grid-template-columns: 93%;
  }
  .dp-menu {
    width: -moz-fit-content;
    width: fit-content;
    display: none !important;
    position: static;
    position: initial;
    background: var(--white-color);
    border-radius: 12px;
    right: 0;
    width: 80%;
    margin: auto;
    transition: 0.3s;
    opacity: 1 !important;
    visibility: visible;
    overflow: hidden;
    box-shadow: none;
    z-index: 99;
    left: 0;
    text-align: center;
  }
  .logo-nav{
    display: block;
  }
  nav.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .connect-btn-mobile {
    width: 300px;
    margin: auto;
  }
  a.dp-link {
    text-align: center !important;
  }
  .m-none {
    display: none;
  }
  .l-none {
    display: block;
  }
  .search-box {
    margin-right: 50px;
  }
  .show-nav {
    display: block;
    color: var(--white-color);
  }
  .nav-select-item .select-menu-inner {
    justify-content: center !important;
  }
  ul.menu-nav-ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
  }
  .menu {
    display: block;
    align-items: center;
    position: fixed;
    height: 100vh;
    background: #03091fe3;
    bottom: 0;
    box-shadow: -2px 5px 13px 0px #0b0c11;
    top: 0;
    padding: 30px 20px;
    transition: 0.5s;
    right: -125%;
    z-index: 1;
    backdrop-filter: blur(3px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
  }
  a.nav-link {
    padding-left: 0;
    padding: 10px 10px 10px 0;
  }
  .close-menu {
    display: flex;
  }
  .menu.active {
    right: 0;
  }
  nav.navigation {
    gap: 22px;
  }

  .select:hover .select-menu .dp-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 8px;
    z-index: 1;
  }
  nav.navigation .logo img {
    width: 46%;
}
}

@media screen and (max-width: 500px) {
  nav.navigation {
    grid-template-columns: 85%;
  }
  a.logo-link img {
    width: 100px;
  }
}
