@import url('./global.css');
@import url('./footer.css');

/*----------------- intro ---------------*/
.hero{
  padding: 200px 0 100px 0;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hero-wrapper{
  width: 80%;
  margin: auto;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
}
.hero-content{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 200px;
}
.mint-now-btn{
  cursor: pointer;
  z-index:3;
  transition: 0.4s;
}
.mint-now-btn:hover{
  transform: scale(1.05);
}
.mint-now-btn a img{
  width: 60%;
}
.hero-bottom-img{
  position: absolute;
  bottom: -28%;
  z-index: 0;
}
.hero-bottom-img2{
  position: absolute;
  z-index: -1;
  bottom: -22%;
}
.hero-bottom-img2 img{
  width: 100%;
}
.hero-bottom-img3{
  position: absolute;
  bottom: -22%;
}
.hero-bottom-img3 img{
width: 100%;
}
.hero-bottom-img img{
width: 100%;
}
.hero-cloud-1{
  position: absolute;
  top: 30%;
  animation: cloud-1 5s linear infinite alternate;
}
@keyframes cloud-1{
  from{
    transform: translateX(-200%);
  }
  to{
    transform: translateX(60%);
  }
}
.hero-cloud-1 img{
  width: 80%;
}
.hero-cloud-2{
  position: absolute;
  top: 40%;
  right: 0;
  animation: cloud-2 5s linear infinite;
}
@keyframes cloud-2{
  from{
    transform: translateX(40%);
  }
  to{
    transform: translateX(-100%);
  }
}
.hero-cloud-2 img{
  width: 80%;
}
.hero-cloud-3{
  position: absolute;
  top: 50%;
}
.hero-cloud-3 img{
  width: 80%;
}
/* ======================= Intro End ===================== */
/* ================= Marque Start ======================== */
.marque{
  padding-top: 70px;
}
.marquee-container {
  overflow: hidden !important;
}
.marque-wrapper{
  position: relative;
  z-index: 11;
  background: #0BB09F;
}
.marque-img-item {
  transition: 0.4s;
  cursor: pointer;
}
.marque-img-item:hover{
  transform:scale(1.1);
}
.marque-img-item img{
  width: 100%;
}
/* ================= Marque End ======================== */

/* ===================== About Section Start ======================== */
.about{

}
.about-header-content{
  width: 70%;
  margin: auto;
  text-align: center;
}
.about-list-item{
  border-radius: 70px;
border: 1px solid #FFF;
background: #112332;
padding: 20px 40px;
text-align: center;
cursor: pointer;
width: 100%;
margin-bottom: 50px;
transition: 0.4s;
}
.about-list-item:hover{
  transform: scale(1.05);
}
.about-list-item h3{
  font-weight: 700;
  font-family: var(--third-font);
  font-size: 40px;
  line-height: 50px;
}
.about-list-item span{
  font-size: 30px;
  font-weight: 700;
}
/* ===================== About Section End ======================== */

/* ========================== Roadmap Start ================= */
.roadmap-content{
display: flex;
flex-direction: column;
gap: 70px;
padding: 200px 0 150px 0;
}
.roadmap-content-item{
  display: grid;
  grid-template-columns: 29% 39% 29%;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.roadmap-img img{
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
}
.roadmap-img img:hover{
  transform: scale(1.1);
}
.road-num{
  width: 100%;
  margin: auto;
  position: relative;
}
.roadmap-number{
display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.roadmap-number::before{
  content: '';
    background-image: url(/images/road-1.svg);
    width: 100%;
    height: 550px;
    right: -81px;
    top: -170px;
    position: absolute;
    background-repeat: no-repeat;
}
.roadmap-number::after{
  content: '';
  background: var(--white-color);
  width: 200px;
  height: 5px;
  position: absolute;
  left: 0;

}
.roadmap-number p{
  background:var(--white-color);
  width: 200px; 
display: flex;
align-items: center;
justify-content: center;
  height: 200px;
  font-size: 80px;
  border-radius: 100%;
  font-weight: 900;
  color: var(--black-color);
  font-family: var(--title-font);
}
.roadmap-content .roadmap-content-item-reverse:nth-child(2){
  grid-template-columns: 29% 39% 29%;
  direction: rtl;
}
.roadmap-content .roadmap-content-item-reverse:nth-child(4){
  grid-template-columns: 29% 39% 29%;
  direction: rtl;
}
.roadmap-content  .roadmap-content-item:nth-child(2) .roadmap-number p{
  background-color: var(--main-color);
}
.roadmap-content  .roadmap-content-item:nth-child(2) .roadmap-number::before{
  content: '';
    background-image: url(/images/road-2.svg);
    width: 100%;
    height: 350px;
    right: -81px;
    top: -70px;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
}
.roadmap-content .roadmap-content-item:nth-child(4) .roadmap-number::before{
  content: '';
    background-image: url(/images/road-2.svg);
    width: 100%;
    height: 350px;
    right: -81px;
    top: -76px;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
}
.roadmap-content .roadmap-content-item:nth-child(2) .roadmap-number::after{
  content: '';
  background: var(--white-color);
  width: 200px;
  height: 5px;
  position: absolute;
left: 55%;
z-index: -1;
}
.roadmap-content .roadmap-content-item:nth-child(4) .roadmap-number::after{
  content: '';
  background: var(--white-color);
  width: 200px;
  height: 5px;
  position: absolute;
left: 55%;
z-index: -1;
}
.roadmap-text-content .number-wrapper{
border: 1px solid var(--white-color);
background-color: var(--black-color);
display: flex;
align-items: center;
gap: 60px;
}
.roadmap-text-content .number-wrapper .num-count{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.roadmap-text-content .number-wrapper span{
  background-color: var(--main-color);
  height: 80px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 40px;
  color: var(--black-color);
}

.roadmap-text-content .number-wrapper .num-count::before{
  content: "";
position: absolute;
right: -40px;
width: 50px;
background-repeat: no-repeat;
height: 30px;
background-image: url(/images/road-arrow.svg);
}
.roadmap-text-content .number-wrapper h3{
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 40px;
  color: var(--white-color);
  margin-bottom: 0;
}
.roadmap-text-content h2{
 padding-top: 20px;
 font-weight: 900;
 font-size: 40px;
 font-family: var(--title-font);
 color: var(--white-color);
 margin-bottom: 0;
 padding-bottom: 10px;
}
.roadmap-content .roadmap-content-item:nth-child(2) .roadmap-text-content .number-wrapper{
  flex-direction: row-reverse;
}
.roadmap-content .roadmap-content-item:nth-child(4) .roadmap-text-content .number-wrapper{
  flex-direction: row-reverse;
}
/* ========================== Roadmap End ================= */

/* ===================== Swiper Start  ============ */
.next, .prev {
  color: var(--white-color);
  background: var(--main-color);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 10px;
  box-shadow: 0px 10px 14px 4px rgba(108, 84, 234, 0.2);
}
.slider-nav {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}
.slider-nav .prev{
  background: var(--white-color);
}
/* ===================== Swiper End  ============ */
.swiper-wrappers{
  position: relative;
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide-img {
  background-position: center;
  background-size: cover;
  width:100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-wrappers .swiper-pagination {
  padding-bottom: 0;
}


/* ============ check-it  Start ==================== */
.check-it{
  padding: 150px 0 150px 0;
} 
.check-card-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--white-color);
  cursor: pointer;
  margin-bottom: 100px;
  transition: 0.4s;
  width: 95%;
}
.check-card-item:hover{
  transform: translateY(-10px);
  transform: scale(1.02);
}
.check-card-item img{
  width: 100%;
  
}
.card-contents {
  padding: 20px 20px 60px 20px;
}
.card-check-it-btn{
  position: absolute;
  bottom: -60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-check-it-btn img{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-check-it-btn span{
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  color: var(--black-color);
}
/* ============ check-it End ==================== */

/* ============== Our Team Start =================== */

.team-header-item{
  display: flex;
  align-items: center;
  gap: 40px;
justify-content: center;
  margin: auto;
  width: 100%;
}
.swiper-pagination-bullet {
  border-radius: 3% !important;
  background:none !important;
  margin: 10px !important;
  transition: 0.4s;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}
.swiper-pagination-bullet:hover{
  transform: scale(1.05);
}
.swiper-pagination-bullet img{
  width: 100%;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color));
}
.team-content-item{
padding-top: 100px;
}
.team-img img{
  width: 100%;
}
.active-team-img{
  border:1px solid red;
}
.team-item{
  display: flex;
  background: var(--main-color);
  border-radius: 30px;  
  gap: 50px;
  padding: 50px 50px 0 50px;
  height: 400px;
}
.team-item-left{
  padding-left: 40px;
}
.team-item-left h1{
  text-align: start;
}
.team-item-right img{
  width: 100%;
}
.team-item-right {
  justify-content: flex-end;
  display: flex;
  align-items: end;
}
/* .team-items{
  display: none;
} */
/* .active-team-items{
  display: block;
} */
.swiper {
  display: flex !important;
  flex-direction: column-reverse !important;

}
.swiper-pagination {
  width: 100% !important;
position: relative !important;
top: 10% !important;
padding-bottom: 100px;
}
img.swiper-pagination-bullet {
  width: 300px;
  height: 250px;
  margin: 20px ;
  border-radius: none;
}
/* ============== Our Team End =================== */

/* =================== Faq Start =============== */
.faq-content{
  width: 80%;
  margin: auto;
}
.faq-row {
  border: 1px solid var(--main-color);
  margin-bottom: 30px;
  border-radius: 6px;
  background-image: url(/images/faq-img.svg);
  padding: 15px 20px !important;
  background-repeat: no-repeat;
  background-size: 100%;
}

.row-title-text {
  color: var(--black-color);
  position: relative;
  margin: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  z-index: 22;
}
.row-content-text {
  color: var(--black-color) !important;
  z-index: 22 !important;
  padding-bottom: 10px;
}
.styles_row-title__1YiiY {
  padding: 0 !important;
}
.styles_faq-row-wrapper__3vA1D {
  background-color: var(--faq-bg-color, none) !important;
}
/* =================== Faq End =============== */

/* ============== Join Community Start =========== */
.join-community-wrapper{
  background-color: var(--black-color);
  border: 3px solid var(--white-color);
  border-radius: 50px;
  padding: 54px 0;
  position: relative;
  flex-direction: column;
  gap: 50px;
overflow-y: hidden;
}
.join-community-content{
  width: 60%;
  margin: auto;
}
.discord-img{
  position: absolute;
  left: 0;
  bottom: 0;
}
.discord-img img{
  width: 80%;
}
.join-community-wrapper .discord-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.4s;
}
.join-community-wrapper .discord-btn:hover{
  transform: scale(1.05);
}
.join-community-wrapper .discord-btn .discord-content{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
}
.join-community-wrapper .discord-btn .discord-content span{
  font-size: 30px;
  color: var(--black-color);
  font-family: var(--title-font);
  font-weight: 700;
}
.discord-btn-bg-img {
  width: 80%;
}
/* ============== Join Community End =========== */